@import "~antd/dist/antd.dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



/* 滚动条 */
*::-webkit-scrollbar {
    height: 6px;
    background-color: #2a2a2a;
    width: 6px;
  }
  
  
  *::-webkit-scrollbar-thumb {
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background-color: #3a3a3a;
  }
